@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	background: #141D46;
	border-radius: 99vmax;
	border: 2px solid #0e163b;
}

::-webkit-scrollbar-track {
	background: #bbc1d8;
	border-radius: 30px;
}

* {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.z-index-nav {
	position: relative;
	z-index: 99999;
}

.side-ico {
	width: 20px;
	margin: auto;
	float: none;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-style: normal;
	background: #fff;
	height: 100vh;
}

body.custom-white-bg {
	background: #fff;
}

a {
	list-style: none;
	text-decoration: none;
	color: #504C4C;
}

p {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.065em;
	color: #353535;
}

ul {
	margin: 0;
}

ul li {
	list-style: none;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	color: #17183B;
}

section {
	padding: 4rem 0;
}


.logo {
	width: 120px;
	height: auto;
}

/* login */

.login-bg {
	background: url(../images/login-bg.jpg) no-repeat;
	background-size: cover;
	height: 100%;
}

h2.login-h2 {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}

/* home */
.header {
	background: #e0f3c3;
}

main.home-container .card {
	cursor: pointer;
}

main.home-container .card .main-icons {
	font-size: 40px;
	color: #699f14;
}

main.home-container .card h2 {
	font-size: 18px;
	color: #000;
	font-weight: 400;
}

/* footer */

footer.footer {
	background-color: #000;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer.footer p {
	color: #fff;
}


@media (max-width: 767.98px) {}

@media (min-width: 1842px) {}

@media (min-width: 1199px) and (max-width: 1842px) {}

@media (min-width: 992px) and (max-width: 1399px) {}

@media (min-width: 1199px) and (max-width: 1399px) {}

@media (min-width: 991px) and (max-width: 1199px) {}

@media (min-width:992px) {}

@media (min-width:1024px) {}

@media (max-width:991px) {}

@media (max-width:767px) {

	/*  */
	h2 {
		font-size: 19px;
		text-align: center;
		font-weight: 600;
	}

	p {
		font-size: 14px;
		line-height: normal;
	}

	section {
		padding: 3rem 0;
	}
}

@media (max-width:600px) {}