@font-face {
    font-family: 'ActaHeadlineW00';
    src: url('ActaHeadlineW00-Bold.woff2') format('woff2'),
        url('ActaHeadlineW00-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

